@font-face {
    font-family: rodina;
    src: url(Sheiron\ Rodina.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: rodina;
}
body{
    display: flex;
    padding: 0 10px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #000070;
}
.contact-wr{
    width: 720px;
    background: #fff;
    border-radius: 5px;
}
.contact-wr header{
    font-size: 22px;
    font-weight: 600;
    padding: 20px 30px;
    border-bottom: 1px solid #bfbfbf;
}
.contact-wr form{
    margin: 35px 30px;
}
form .lines{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: space-between;
}
.lines .field{
    height: 50px;
    position: relative;
    width:calc(100% / 2 - 13px);
}
form .field input,
form .message textarea{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 18px 0 48px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
form .field input::placeholder,
form .message textarea::placeholder{
    color: #bfbfbf;
}
form .field input:focus,
form .message textarea:focus{
    padding-left: 47px;
    border: 2px solid #000070;
}
.contact-wr form i{
    position: absolute;
    top: 50%;
    left: 18px;
    color: #ccc;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
}
form .field input:focus ~ i,
.message textarea:focus ~ i{
    color:#000070;
}
form .message{
    position: relative;
}
form .message i{
    top: 30px;
    font-size: 20px;
}
form .message textarea{
    min-height: 130px;
    max-height: 230px;
    max-width: 100%;
    min-width: 100%;
    padding: 15px 20px 0 48px;
  }
  form .message textarea::-webkit-scrollbar{
    width: 0px;
  }
  .message textarea:focus{
    padding-top: 14px;
  }
  form .send{
    margin: 25px 0;
    display: flex;
    align-items: center;
  }
  .send button{
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    padding: 13px 25px;
    background: #000070;
    transition: background 0.3s ease;
  }
  .send span{
    font-size: 17px;
    margin-left: 30px;
    display: none;
  }
  .send button:hover{
    background: #3916eb;
  }
@media (max-width: 600px){
  .contact-wr header{
    text-align: center;
  }
  .contact-wr form{
    margin: 35px 20px;
  }
  form .lines{
    flex-direction: column;
    margin-bottom: 0px;
  }
  form .lines .field{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }
  form .message textarea{
    resize: none;
  }
  form .send{
    margin-top: 20px;
    flex-direction: column;
  }
  .send button{
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .send span{
    margin: 20px 0 0;
    text-align: center;
  }
}
